* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }

.wrapper {
  max-width: 1366px;
  margin: 0 auto; }

.inner-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

nav {
  width: 100%; }

a {
  text-decoration: none;
  color: #333; }

button {
  outline: none; }

.hat {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 15px;
  background: rgba(226, 226, 226, 0.6); }
  .hat .hat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .hat .hat-item p {
      font-size: 12px;
      color: rgba(51, 51, 51, 0.85);
      font-weight: 600;
      line-height: 1.3em; }
      .hat .hat-item p span {
        text-decoration: underline;
        font-size: 14px; }

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fdfdfd;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 60px 0 50px; }
  .logo .another-color {
    color: #ff5384; }
  .logo a {
    background: url(../icon/shopping-bag.png) center center/contain no-repeat;
    width: 64px;
    height: 64px;
    font-family: "Roboto Condensed", sans-serif;
    margin: 15px 10px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
    .logo a:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .logo a:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }
  .logo p {
    font-size: 36px;
    color: #26a1e4;
    margin: 0 10px; }

.panel-advant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 440px; }

.panel-advant-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  margin: 0 auto; }
  .panel-advant-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .panel-advant-item p {
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.85);
    font-weight: 600;
    line-height: 1.3em; }

.panel-info {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  margin-top: 10px; }
  .panel-info p {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em; }
  .panel-info .panel-info-time {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.85);
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 5px; }

.bag {
  width: 140px;
  text-align: -webkit-center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px 50px 0 0; }
  .bag .bag-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative; }
  .bag img {
    width: 52px;
    height: 52px;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
    .bag img:hover {
      -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
      transform: scale(1.12); }
    .bag img:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }
  .bag p {
    font-size: 16px;
    color: rgba(51, 51, 51, 0.85);
    font-weight: 600;
    line-height: 1.3em;
    margin: 5px 0; }
  .bag #basket_count {
    position: absolute;
    background: red;
    width: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    height: 33px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 34px;
    top: -2px;
    color: white;
    font-weight: 900;
    font-size: 18px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #f1f1f1;
  padding: 8px 0;
  margin-top: 5px; }
  .menu .menu-catalog {
    margin-left: 55px; }
    .menu .menu-catalog a {
      font-size: 17px; }
  .menu .menu-other {
    margin-left: 60px; }
    .menu .menu-other a {
      margin-right: 60px; }

.menu a {
  font-size: 17px;
  color: #333333;
  font-weight: 600;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #4b4b4b;
  margin-right: 40px; }
  .menu a:hover {
    color: #26a1e4; }

.slider-box {
  max-width: 1366px;
  width: 100%;
  height: 460px;
  position: relative;
  overflow: hidden; }

.slider {
  width: 10000px;
  height: 100%; }

.slider div {
  max-width: 1366px;
  width: 100%;
  height: 460px;
  float: left; }

.slider-item-1 {
  background: url(../pics/1.jpg); }

.slider-item-2 {
  background: url(../pics/2.jpg); }

.slider-item-3 {
  background: url(../pics/3.jpg); }

.slider-box button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 60px;
  width: 60px;
  margin: auto 30px;
  background: rgba(51, 51, 51, 0.45);
  border: 3px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 50%; }

.slider-box button img {
  padding: 2px 0px 0px 4px; }

.next {
  right: 0; }

.prev {
  left: 0;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1); }

.slider-box button:hover {
  background: rgba(51, 51, 51, 0.7);
  border: 3px solid rgba(255, 255, 255, 0.6); }

.middle-zag {
  color: #333333;
  font-size: 40px;
  text-align: center;
  margin: 70px 0;
  font-family: Montserrat,sans-serif;
  letter-spacing: 10px;
  position: relative;
  font-weight: 500;
  width: 100%; }

.middle-zag span {
  background: white;
  display: inline-block;
  padding: 0 20px; }

.middle-zag span:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(51, 51, 51, 0.6);
  z-index: -1; }

.catalog-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog-choice-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%; }
  .catalog-choice-item a {
    width: 320px;
    height: 350px;
    background: green;
    position: relative; }
  .catalog-choice-item .catalog-choice-item-back {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; }
  .catalog-choice-item p {
    font-size: 25px;
    color: #333333;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 20px; }
  .catalog-choice-item .watch {
    background: url(../pics/catalog_1.jpg); }
  .catalog-choice-item .backpack {
    background: url(../pics/catalog_2.jpg); }
  .catalog-choice-item .toys {
    background: url(../pics/catalog_3.jpg); }

.offers .middle-zag {
  text-align: start;
  margin: 130px 0 30px; }

.offers span {
  font-size: 22px;
  margin-left: 120px; }

.offers span:before {
  top: 30px; }

.offers .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.offers-item {
  height: 400px;
  -ms-flex-preferred-size: 19%;
  flex-basis: 19%;
  text-align: center;
  background: rgba(255, 247, 254, 0.7);
  cursor: pointer;
  border-radius: 8px; }
  .offers-item img {
    height: 280px;
    width: 220px;
    margin-top: 5px;
    border-radius: 5px; }
  .offers-item .offers-item-disc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 7px 0 13px; }
    .offers-item .offers-item-disc p {
      font-size: 20px;
      color: #333333;
      font-weight: 600;
      line-height: 1.3em; }
  .offers-item .offers-cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 60%;
    margin: 0 auto; }
    .offers-item .offers-cost p {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      font-size: 21px;
      color: #333333;
      font-weight: 600;
      line-height: 1.3em;
      letter-spacing: 2px; }
    .offers-item .offers-cost .old-cost {
      font-size: 18px;
      margin-top: 5px;
      color: rgba(255, 0, 0, 0.74);
      text-decoration: line-through; }
  .offers-item:hover {
    -webkit-transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
    border: 2px solid rgba(51, 51, 51, 0.1);
    -webkit-box-shadow: rgba(51, 51, 51, 0.15) 4px 8px 20px 4px;
    box-shadow: rgba(51, 51, 51, 0.15) 4px 8px 20px 4px; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 160px 0; }

.advantages-item {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  height: 260px;
  background: white;
  text-align: center; }
  .advantages-item img {
    width: 100px;
    height: 100px; }
  .advantages-item .advantages-zag {
    height: 100px;
    text-align: inherit;
    font-size: 50px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .advantages-item h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 30px 0 15px;
    color: #3c3c3c;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 2px; }
  .advantages-item p {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 35px;
    line-height: 2em;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.85);
    font-weight: 600; }

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.delivery-item {
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }
  .delivery-item img {
    max-width: 100%; }
  .delivery-item h3 {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    line-height: 1.3em;
    margin: 20px 0;
    text-align: center; }
  .delivery-item p {
    font-size: 16px;
    color: rgba(51, 51, 51, 0.85);
    font-weight: 600;
    line-height: 1.3em;
    text-align: center; }

.delivery-item-before {
  position: relative; }

.delivery-item-before:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 34px;
  background: url(../icon/arrow-right.png) center center/contain no-repeat;
  right: -60px; }

.delivery-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 95px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .delivery-more img {
    max-width: 100%; }
  .delivery-more p {
    font-size: 20px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em; }

.delivery-more-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-left: 30px; }
  .delivery-more-text .delivery-more-text-zag {
    font-size: 25px;
    margin-bottom: 10px; }

.communicate {
  background: #1ba1e1;
  width: 100%;
  height: 125px; }
  .communicate .communicate-wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .communicate p {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0 auto; }
  .communicate button {
    border: 1px solid white;
    width: 143px;
    height: 42px;
    background: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700; }
    .communicate button:hover {
      background: rgba(255, 255, 255, 0.15);
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      transform: scale(1.02); }
    .communicate button:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }

.bottom {
  background: black;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .bottom p {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: initial;
    font-size: 14px; }

.footer-contact {
  background: #161616;
  height: 280px; }
  .footer-contact .footer-wrapper {
    max-width: 1060px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 45px 0 0 0; }
  .footer-contact .about_us {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0 0 80px;
    margin-top: 15px; }
  .footer-contact .footer-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .footer-contact .footer-item h3 {
      font-size: 20px;
      color: rgba(0, 189, 236, 0.8);
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      margin-bottom: 20px; }
    .footer-contact .footer-item img {
      width: 26px;
      height: 24px;
      margin-right: 15px; }
    .footer-contact .footer-item p {
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 2em;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 600;
      padding-left: 2px; }
    .footer-contact .footer-item .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.footer-contact .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px; }
  .footer-contact .group a {
    background: url(../icon/vk.png) center center/contain no-repeat;
    width: 40px;
    height: 40px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-right: 10px;
    cursor: pointer; }
    .footer-contact .group a:hover {
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
  .footer-contact .group p {
    font-size: 20px; }

.middle-section {
  width: 100%; }
  .middle-section .middle-zag {
    text-align: start;
    margin: 60px 0 15px; }
    .middle-section .middle-zag span {
      font-size: 32px;
      margin-left: 120px;
      text-transform: uppercase; }

.catalog-product {
  max-width: 1230px;
  height: 100%;
  min-height: 600px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .catalog-product .offers-item {
    height: 410px;
    margin: 15px 17px 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%; }
    .catalog-product .offers-item img {
      width: 85%;
      margin-top: 10px; }
    .catalog-product .offers-item .offers-cost {
      margin-bottom: 15px; }

.article-section {
  width: 100%; }
  .article-section .article-zag {
    margin: 70px 0; }
  .article-section .offers {
    margin-bottom: 70px; }

.article-section-item {
  max-width: 1200px;
  min-height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.article-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 660px; }
  .article-photos .article-main-photo {
    width: 480px;
    height: 480px;
    max-height: 490px;
    max-width: 540px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 3px;
    margin-bottom: 20px;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .article-photos img {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-height: 150px;
    border: 1px solid rgba(51, 51, 51, 0.21);
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .article-photos img:not(.article-main-photo):hover {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 3px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 3px;
      -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      cursor: pointer; }
      .article-photos img:not(.article-main-photo):hover:active {
        -webkit-transform: scale(1.02, 1.02);
        -ms-transform: scale(1.02, 1.02);
        transform: scale(1.02, 1.02); }

.article-left-panel {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%; }

.aritcle-wrapper {
  margin: 0 auto;
  max-width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.article-cost {
  width: 100%; }

.article-cost-item {
  max-width: 390px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .article-cost-item p {
    font-size: 31px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em;
    text-decoration: line-through; }
  .article-cost-item .cost {
    font-size: 50px;
    margin: 0 auto;
    text-decoration: none;
    color: #d45353; }
  .article-cost-item .old-cost {
    margin: 0 20px; }

.aritcle-wrapper .panel-advant {
  width: 100%;
  max-width: 585px; }

.article-panel-wrapper {
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px auto 25px; }

.article-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .article-buttons button {
    width: 190px;
    height: 55px;
    border: 2px solid rgba(51, 51, 51, 0.46);
    border-radius: 7px;
    font-size: 20px;
    background: rgba(53, 189, 76, 0.9);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 1px 5px;
    cursor: pointer;
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .article-buttons button img {
      width: 28px;
      height: 28px; }
    .article-buttons button span {
      padding: 5px 5px 0px 8px; }
    .article-buttons button:hover {
      -webkit-transform: scale(1.03, 1.03);
      -ms-transform: scale(1.03, 1.03);
      transform: scale(1.03, 1.03);
      -webkit-box-shadow: rgba(0, 0, 0, 0.28) 1px 5px 13px 1px;
      box-shadow: rgba(0, 0, 0, 0.28) 1px 5px 13px 1px; }
      .article-buttons button:hover:active {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1); }
  .article-buttons .article-btn-answ {
    background: #6cc5e0; }
    .article-buttons .article-btn-answ span {
      font-size: 17px;
      padding: 5px; }

.article-text {
  width: 100%;
  text-align: start;
  margin: 50px auto 35px;
  font-size: 21px;
  color: #333333;
  font-weight: 600;
  line-height: 1.3em; }
  .article-text .article-text-description {
    margin: 0 auto;
    max-width: 530px; }
  .article-text .description-zag {
    text-align: center;
    margin: 15px 0 30px;
    font-size: 26px;
    letter-spacing: 3px; }
  .article-text p {
    font-size: 19px;
    margin-top: 20px;
    text-align: justify;
    letter-spacing: 1px; }
  .article-text .article-text-property {
    max-width: 530px;
    margin: 30px auto 0; }
    .article-text .article-text-property p {
      margin: 10px 0; }
      .article-text .article-text-property p span {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 500;
        letter-spacing: 0px;
        color: rgba(31, 28, 28, 0.88); }

.error-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 40px 0 80px; }
  .error-box img {
    width: 730px;
    height: 360px; }
  .error-box .error-zag {
    font-size: 54px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
    margin: 20px 0; }
  .error-box p {
    font-size: 22px;
    color: rgba(51, 51, 51, 0.8);
    font-weight: 600;
    line-height: 1.3em; }
  .error-box button {
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin: 45px 0 0;
    cursor: pointer;
    background: #f55246;
    border: 2px solid rgba(51, 51, 51, 0.25); }
    .error-box button:hover {
      -webkit-transform: scale(1.02, 1.03);
      -ms-transform: scale(1.02, 1.03);
      transform: scale(1.02, 1.03);
      background: rgba(245, 82, 70, 0.92); }
    .error-box button:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }

.sale-slider-box {
  position: relative; }
  .sale-slider-box button {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    bottom: 0;
    margin: auto;
    border: none; }
    .sale-slider-box button:hover {
      -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
      transform: scale(1.08); }
    .sale-slider-box button:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }
  .sale-slider-box #slider-next {
    right: -30px;
    background: url(../icon/a-r.png) center center/contain no-repeat;
    display: none; }
  .sale-slider-box #slider-prev {
    left: -30px;
    background: url(../icon/a-l.png) center center/contain no-repeat;
    display: none; }

.sale-box {
  max-width: 1366px;
  width: 100%;
  overflow: hidden; }
  .sale-box .sale-slider {
    width: 10000px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.slider-item {
  width: 210px;
  margin: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  padding: 20px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background: rgba(255, 248, 254, 0.7);
  cursor: pointer; }
  .slider-item:hover {
    -webkit-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.15); }
  .slider-item img {
    width: 80%;
    height: 210px;
    border-radius: 10px;
    border: 1px solid rgba(51, 51, 51, 0.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .slider-item .slider-i-desc {
    margin: 5px 0 15px; }
    .slider-item .slider-i-desc p {
      font-size: 23px;
      color: rgba(51, 51, 51, 0.85);
      font-weight: 600;
      line-height: 1.3em; }
  .slider-item .slider-i-cost p {
    font-size: 22px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em;
    margin: 3px 0px; }
  .slider-item .slider-i-cost .s-i-c-old {
    font-size: 19px;
    color: red;
    text-decoration: line-through; }

.succes-window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 445px;
  height: 100px;
  background: rgba(155, 255, 162, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  display: none;
  opacity: 0; }
  .succes-window img {
    width: 50px;
    height: 50px; }
  .succes-window h1 {
    font-size: 22px;
    color: rgba(51, 51, 51, 0.9);
    font-weight: 600;
    line-height: 1.3em;
    margin-left: 17px; }

.call-back-window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 560px;
  max-height: 310px;
  border-radius: 7px;
  background: #3bc2f5;
  border: 1px solid rgba(101, 90, 90, 0.12);
  display: none; }

.call-back-form {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 20px 0px 20px;
  text-align: center; }
  .call-back-form .call-back-zag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
    .call-back-form .call-back-zag p {
      margin: 10px 0 3px 0; }
  .call-back-form .form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .call-back-form .form-input input {
      width: 220px;
      font-size: 18px;
      color: rgba(51, 51, 51, 0.9);
      font-weight: 600;
      line-height: 1.3em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 11px;
      height: 38px;
      border-radius: 3px;
      border: 1px solid rgba(51, 51, 51, 0.25);
      position: relative; }
  .call-back-form .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 3px 0 20px 0; }
    .call-back-form .form-item img {
      width: 40px;
      height: 38px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: rgba(91, 91, 91, 0.99);
      padding: 8px; }
  .call-back-form .form-close {
    background: url(../icon/access-denied.png) center center/contain no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 9px;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .call-back-form .form-close:hover {
      -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
      transform: scale(1.12); }
    .call-back-form .form-close:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }
  .call-back-form .form-icon {
    width: 95px;
    height: 95px;
    position: absolute;
    left: -10px;
    top: -45px; }
  .call-back-form button {
    border: 1px solid white;
    width: 180px;
    height: 40px;
    background: #41c7fa;
    color: white;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px; }
    .call-back-form button:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    .call-back-form button:active {
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }

.form-succes {
  width: 100%;
  height: 100%;
  background: #7adf61;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  display: none; }
  .form-succes img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px; }
  .form-succes h2 {
    color: white;
    letter-spacing: 2px;
    margin: 10px 0;
    font-size: 29px;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif; }
  .form-succes p {
    color: white;
    font-size: 23px;
    margin: 5px 0;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif; }

.call-back-error {
  position: relative; }
  .call-back-error::before {
    content: "";
    position: absolute;
    color: #ec3e3e;
    bottom: -19px;
    font-family: Myriad Pro;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    left: 10px; }
  .call-back-error::after {
    content: "*";
    position: absolute;
    color: red;
    bottom: -21px;
    font-family: Myriad Pro;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px; }
